.photo-grid__like {
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-left: 10px;
  padding: 0;
  transition: opacity 0.2s ease-in;
}
.photo-grid__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
