.popup__container {
  background-color: #FFFFFF;
  position: relative;
  margin: auto;
  border-radius: 10px;
  min-width: 430px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 550px) {
  .popup__container {
    min-width: 282px;
  }
}
